body.dark-theme {
    background-color: #fff;
    color: #343a40;
}

/*
 .card, .card-body {
    color: white; /* Définir la couleur de la police en blanc */
}
*/


.header {
    background: linear-gradient(to right, #ff6666, #ff9999);
}