{% extends "base.html" %}
{% block content %}
<div style="text-align:center">
  <h1>Bienvenue sur le site de NetFlop</h1>
  <p> Le seul site qui vous fait des recommandations vraiment bidon</p>
  <img src="/static/images/logo_NetFlop.png" alt="Netflop Logo" style="height: 330px;">
</div>


    <h1>Résumé du Projet de Système de Recommandation de Films</h1>
    <ol>
        <li>
            <strong>Contexte :</strong> Le projet s'inspire du succès de Netflix et vise à créer un système de recommandation pour un cinéma local.
        </li>
        <li>
            <strong>Objectif :</strong> En tant que Data Analyst, l'objectif est de développer un site Internet et un moteur de recommandations de films pour un cinéma.
        </li>
        <li>
            <strong>Problématique de départ :</strong> Aucun client n'a renseigné ses préférences (situation de cold start), mais une base de données IMDb est disponible.
        </li>
        <li>
            <strong>Analyse de données :</strong> Analyse complète de la base IMDb pour déterminer des tendances et des statistiques pertinentes sur les films.
        </li>
        <li>
            <strong>Spécialisation :</strong> Possibilité de spécialiser le cinéma sur un genre ou une période spécifique après la première analyse.
        </li>
        <li>
            <strong>Utilisation du Machine Learning :</strong> En fin de projet, utilisation d'algorithmes de machine learning pour les recommandations.
        </li>
        <li>
            <strong>Objectif final :</strong> Création d'une application avec des KPI et un système de recommandation pour les clients du cinéma.
        </li>
        <li>
            <strong>Sources de données :</strong> Les données sont extraites de plusieurs tables IMDb.
        </li>
        <li>
            <strong>Organisation et Planning :</strong> Le projet inclut des étapes de nettoyage des données, d'exploration, de machine learning, et de présentation.
        </li>
        <li>
            <strong>Livrables attendus :</strong> Un notebook pour l'exploration des données, des visuels pour les KPI, et une application de recommandation de films.
        </li>
    </ol>



{% endblock content %}