{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">KPIs du Site de Recommandation</h1>
    <hr>
    <h5><strong>Note Moyenne:</strong> 6.97</h5>
    <h5><strong>Moyenne des Votant par Titre:</strong> 4 168</h5>
    <h5><strong>Moyenne des Personnages par Titre:</strong> 5.67</h5>
    {% comment %} <h5><strong>Nombre de Titres par Acteur:</strong></h5>
    <p>nm0411100: 10 849<br>nm1296472: 10 568<br>nm0815658: 9 992<br>nm2900549: 9 946<br>nm10120013: 9 905<br>...</p> {% endcomment %}
    <h5><strong>Total des Réalisateurs:</strong> 919 463</h5>
    {% comment %} <h5><strong>Moyenne des Réalisateurs par Titre:</strong> 1.00</h5> {% endcomment %}
    <h5><strong>Durée Moyenne:</strong> 101.63 minutes</h5>
    <h5><strong>Nombre de Titres par Genre:</strong></h5>
    <p>Drama: 40 438<br>Comedy: 15 823<br>Thriller: 4 046<br>Action: 3 768<br>...</p>
    <h5><strong>Total des Acteurs:</strong> 13 155 954</h5>
    <h5><strong>Total des Titres:</strong> 1 032 802</h5>
    <h5><strong>Nombre de Titres par Région:</strong></h5>
    <p>US: 936 653<br>FR: 154 638</p>
</div>

{% endblock %}
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> {% endcomment %}
<

