{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon site de recommandation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <style>
        body {
            background-color: #343a40;
            color: #fff;
        }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Votre contenu HTML et les autres scripts ici -->
</body>
</html>



    {% include 'header.html' %}


    <!-- Contenu de la page -->
    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                {% block content %}
                <!-- Le contenu spécifique à chaque page sera inséré ici -->
                {% endblock %}
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
<script>
    function toggleTheme() {
        console.log("Toggling theme");
        var body = document.body;
        body.classList.toggle("dark-theme");
    }

</script>
