

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mon site de recommandation de films</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recommandation' %}">Recommandation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kpi' %}">Kpi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'graphe' %}">Graphiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'etude' %}">Etude</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'a_propos' %}">À propos</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} </li> {% endcomment %}

            </ul>
                <button onclick="toggleTheme()">Mode jour/nuit</button>
        </div>
    </nav>



