

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(to right, #adabab, #adabab);">
           <a class="navbar-brand" href="/static/images/logo_NetFlop.png">
        <img src="/static/images/logo_NetFlop.png" alt="Netflop Logo" style="height: 60px;">
         <!-- Ajoutez le chemin correct de l'image -->
        Mon site de recommandation de films
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recommandation' %}">Recommandation</a>
                </li>
                {% if acteur %}
                    <a class="nav-link" href="{% url 'kpi_acteur' acteur %}">Kpi</a>
                {% else %}
                    <a class="nav-link" href="{% url 'annexe'  %}">Kpi</a>  <!-- ou une autre URL par défaut -->
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'graphe' %}">Graphiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'etude' %}">Etude</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'a_propos' %}">À propos</a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'analyse' %}">Analyse</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kpi' %}">Acteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">CKiL'Boss</a>
                </li>
                {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} </li> {% endcomment %}

            </ul>
                <button onclick="toggleTheme()"> <img src="/static/images/jour_nuit.png"  width="30" height="30" alt="Mode jour/nuit"></button>

                <a class="nav-link" href="{% url 'deconnexion' %}">
                        <button >Déconnexion</button>
                </a>


                      {% comment %} <form action="{% url 'deconnexion' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="deconnexion">Déconnexion</button>
                    </form> {% endcomment %}
        </div>
    </nav>



