{% extends "base.html" %}
{% block content %}
    <h1>Informations sur un acteur de votre choix</h1>
  <form action="{% url 'actor_view' %}" method="get">
    <input type="hidden" name="next" value="kpi">
    <label for="acteur">Nom de l'acteur :</label><br>
    <input type="text" id="acteur" name="acteur"><br>
    <input type="submit" value="Soumettre">
  </form>
  <!-- Si acteur n'est pas une partie du chemin d'URL -->

    <!-- Affichage du nom de l'acteur sélectionné -->
    {% if acteur_stat %}
        <p>Vous avez sélectionné l'acteur : {{ acteur_stat }}</p>
    {% endif %}

    {% if premier_film %}
        <h1>Premier film :</h1>
        <p>{{ premier_film }}</p>
    {% else %}
        <p>Aucun film à afficher.</p>
    {% endif %}
    {% if df_acteur %}
      <h1>Informations sur l'acteur :</h1>
      <div>
        <style>
             body {
              color: white;
            }
            {% comment %} .table td, .table th {
                text-align: center;
                vertical-align: middle;
            }
            .table {
                width: 100%;
                margin: auto;
            } {% endcomment %}
        </style>
          {{ df_acteur | safe }}
      </div>
    {% else %}
      <p>Aucune information sur l'acteur à afficher.</p>
    {% endif %}

{% endblock %}

