{% extends "base.html" %}
{% load custom_filters %}
{% comment %} {% load django_select2 %} {% endcomment %}

{% block content %}
  <div class="container mt-4 ">
    <h1>Recommandations de films</h1>
    <div style="background-color: #cccccc; color: #333333;">
      <form method="POST" class="mb-4 d-flex" >
        {% csrf_token %}
        {{ form.film }}
        <button type="submit" class="btn btn-primary ml-auto">Obtenir des recommandations</button>
      </form>
    </div>
    {% comment %} {{ infos_film }} {% endcomment %}
    {% comment %} {{ infos_film|safe }} {% endcomment %}
    {% if infos_film %}
        <h3 class="mb-3">Film choisi : {% if infos_film.nom %}{{ infos_film.nom }}{% endif %}</h3>
        <p class="card-text">
            {% if infos_film.note_moyenne %}<strong>Note</strong>: {{ infos_film.note_moyenne }} avec {% endif %}
            {% if infos_film.nombre_de_votants %}{{ infos_film.nombre_de_votants }} votants {% endif %}
            {% if infos_film.genres %}<strong>Genre</strong>: {{ infos_film.genres }} {% endif %}<br>
            {% if infos_film.acteurs_et_actrices %}<strong>Acteurs</strong>: {{ infos_film.acteurs_et_actrices|join:", " }} {% endif %}
            {% if infos_film.director %}<strong>Réalisateur</strong>: {{ infos_film.director|join:", " }} {% endif %}
            {% if infos_film.composer %}<strong>Compositeur</strong>: {{ infos_film.composer|join:", " }} {% endif %}
            {% if infos_film.année_de_sortie %}<strong>Année de sortie</strong>: {{ infos_film.année_de_sortie }}{% endif %}
        </p>
    {% comment %} {% else %}
        <p>Aucun film sélectionné ou film non trouvé.</p> {% endcomment %}
    {% endif %}




    {% if liste_des_films %}
      <h2 class="mb-3">Films recommandés :</h2>
      <div class="row">
        {% for film in liste_des_films %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100" style="background-color: #cccccc; color: black;">
              <img src="{{ film.image_de_la_pochette }}" class="card-img-top" alt="Pochette de {{ film.nom }}">
              <div class="card-body">
                <h5 class="card-title">{{ film.nom }}</h5>
                <p class="card-text">Acteurs: {{ film|get_item:'acteurs et actrices'|join:", " }}</p>
                <p class="card-text">Réalisateur: {{ film.director|join:", " }}</p>
                <p class="card-text">Année de sortie: {{ film|get_item:'année de sortie' }}</p>
                <p class="card-text">Pertinence: {{ film|get_item:'distance' }}</p>
                <p class="card-text">Note: {{ film|get_item:'note moyenne' }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Nombre de votants: {{ film|get_item:'nombre de votants' }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% comment %} {% else %}
      <p>nous n'avons pas trouvé de film proche de celui que vous avez saisi</p> {% endcomment %}

    {% endif %}
  </div>

 {% comment %} <script>
$(document).ready(function() {
    $('.select2').select2();
});
{% comment %} </script> {% endcomment %}
 {% comment %} <script>

$(document).ready(function() {
    if ($('.select2').length) {
        $('.select2').select2({
            ajax: {
                url: $('.select2').data('autocomplete-url'),
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1
        });
    } else {
        console.log('Select2 elements not found.');
    }
});
</script> {% endcomment %}
{% endblock %}

